$node-color: #ffffff;
$node-text-color: #000000;
$node-color-border: #bfbfbf;

$node-color-selected: #ffffff;
$node-color-selected-border: #000000;
$node-color-hover: #f7f7f7;


$node-primary-color: #ffffff;
$node-primary-text-color: #000000;
$node-primary-color-border: #7e9ffb;

$node-primary-color-selected: #ffffff;
$node-primary-color-selected-border: #2962FF;
$node-primary-color-hover: #f7f7f7;

$node-title-color: #000000;

$socket-color: #ffffff;
$socket-border-color: #000000;

$connection-color: #000000;

$minimap-color: rgb(0, 0, 0, 0.1);
$minimap-border-color: #cbcbcb;
$minimap-node-color: rgb(0, 0, 0, 0.6);
$minimap-viewport-color: rgb(0, 0, 0, 0.25);
$minimap-viewport-border-color: #696969;

.node {
  background: $node-color !important;
  color: $node-text-color !important;
  border: 3px solid $node-color-border !important;

  &:hover {
    background: $node-color-hover !important;
  }

  &.selected {
    background: $node-color-selected !important;
    border-color: $node-color-selected-border !important;
  }
}

.node.output {
  background: $node-primary-color !important;
  color: $node-primary-text-color !important;
  border: 3px solid $node-primary-color-border !important;

  &:hover {
    background: $node-primary-color-hover !important;
  }

  &.selected {
    background: $node-primary-color-selected !important;
    border-color: $node-primary-color-selected-border !important;
  }
}

.node .title {
  color: $node-text-color !important
}

.node .output-title {
  color: $node-text-color !important
}

.node .input-title {
  color: $node-text-color !important
}

.socket {
  background: $socket-color !important;
  border-color: $socket-border-color !important
}

.connection path {
  stroke: $connection-color !important
}

.minimap {
  background: $minimap-color !important;
  border-color: $minimap-border-color !important;
}

.minimap .mini-node {
  background: $minimap-node-color !important;
}

.minimap .mini-viewport {
  background: $minimap-viewport-color !important;
  border-color: $minimap-viewport-border-color !important;

}


.rete-background {
  background: #ffffff
}

.pixel-grid {
  background:
    linear-gradient(-90deg, rgba(0, 0, 0, .1) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, .09) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, .09) 1px, transparent 1px),
    linear-gradient(transparent 3px, #ffffff 3px, #ffffff 78px, transparent 78px),
    linear-gradient(-90deg, rgb(85, 85, 85) 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #ffffff 3px, #ffffff 78px, transparent 78px),
    linear-gradient(rgb(85, 85, 85) 1px, transparent 1px),
    #ffffff;
  background-size:
    40px 40px,
    40px 40px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;
}