@font-face {
  font-family: Inter;
  src: url('~/assets/fonts/Inter.ttf');
}

$font-family: Inter;
$body-font-family: Inter;

.fill-width {
  width: 100%
}

.vimu-title {
  font-size: 3.75rem !important;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: -0.0083333333em !important;
}

.vimu-subtitle {
  font-size: 1.2rem !important;
  font-weight: 500;
  line-height: 1.2rem;
  color: #5A5A5A

}
.vimu-text {
  color: #5A5A5A
}