@font-face {
  font-family: Inter;
  src: url('~/assets/fonts/Inter.ttf');
}

$font-family: Inter;
$body-font-family: Inter;

$navigation-drawer-mobile-temporary-elevation: 0 !important;

.layout {
  max-width: 1576px;
  margin-left: auto;
  margin-right: auto;
}

.fill-width {
  width: 100%
}

.left-menu-offset {
  margin-left: -12px !important;
}

.right-menu-offset {
  margin-right: -12px !important;
}

h1 {
  font-size: 3rem;
  letter-spacing: -.066875rem;
  font-weight: 700;
  align-items: center;
}

h2 {
  font-size: 2rem;
  letter-spacing: -.049375rem;
  font-weight: 600;
}

.h3 {
  font-size: 1.5rem;
  letter-spacing: -.029375rem;
  font-weight: 600;
}

.vimu-title {
  font-size: 3.75rem !important;
  font-weight: 700;
  letter-spacing: -0.0083333333em !important;
}


.vimu-subtitle {
  font-size: 1.2rem !important;
  font-weight: 500;
  color: #5A5A5A
}

.vimu-text {
  color: #5A5A5A
}

.vimu-menu {
  border: 2px solid currentColor;
  border-radius: 10px !important;
  background-color: white;
}

.header-section {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.container {
  padding: 24px;
}

.v-autocomplete:not(.v-input--is-focused).v-select--chips input {
  max-height: 25px
}

.v-list-item--link, .v-list-item--link::before  {
  border-radius: 10px;
}

.v-card__actions {
  padding-bottom: 12px !important;
}

.vimu-menu .v-list-item--link, .vimu-menu .v-list-item--link::before  {
  border-radius: 0px;
}