@import url('https://fonts.googleapis.com/css? family=Inter:500&display=swap');

$font-family:'Inter';

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}